@{
    Layout = null;
}


<!doctype html>
<html amp lang="es">

<head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <title>Pasion por el Basquet</title>
    <link rel="canonical" href="http://basquet.chcremeras.com/index.html">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    @*<script type="application/ld+json">
            {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "headline": "Open-source framework for publishing content",
            "datePublished": "2018-04-05T18:26:41Z",
            "image": [
            "logo.jpg"
            ]
            }
        </script>*@

    <style amp-boilerplate>
    </style>
    <noscript>
        <style amp-boilerplate>
            body {
                -webkit-animation: none;
                -moz-animation: none;
                -ms-animation: none;
                animation: none
            }
        </style>
    </noscript>

    <style amp-custom>
        /* Cualquier estilo personalizado va aquí */

        body {
            background-color: white;
            height: 100%;
            padding: 10px;
            font-family: Helvetica;
        }

        h1 {
            height: 100%;
            background-color: black;
            padding: 3px;
            text-align: center;
            color: oldlace;
        }

        h3 {
            background-color: black;
            text-align: center;
            color: white;
            padding: 4px;
            margin: 10px;
        }

        a {
            text-align: center;
        }

        li {
            padding: 25px;
        }

        a {
            padding: 4px 25px;
            background: rgb(245, 29, 29);
            color: #fff;
            border-radius: 4px;
            text-decoration: none;
        }

        div {
            text-align: center;
            padding: 4px;
            margin: 10px;
        }
    </style>

    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>


</head>

<body>



    <div>
        <amp-img src="images\pasionLogo.jpg" alt="Imagen Torneo Prospero Palazzo" height="165" width="195" layout=""></amp-img>
    </div>

    <div class="principal">
        <a href="ListadoNoticias.html">Noticias</a>
    </div>

    <div class="principal">
        <a href="/App/MostrarEquipos">Equipos</a>
    </div>

    <div class="principal">
        <a href="tabla.html">Puntajes</a>
    </div>

    <div class="principal">
        <a href="#">Galeria</a>
    </div>

    <div class="principal">
        <a href="#">Más</a>
    </div>

    <div>
        <h6>CHC.Programas</h6>
    </div>







</body>

</html>
